<%- include ("../partials/header") %>
<div class="container">
	<h1 class="text-center">Edit Comment on <%=camp.campName%></h1>
	<form action="/camps/<%=camp.id%>/comment/<%=comment.id%>?_method=PUT" method="POST">
		<div class="form-group">
			<label for="CampName"></label>
			<textarea class ="form-control" id="CampName" name="campComment[text]"><%=comment.text%></textarea>
			<button type="buton" class = "btn btn-primary btn-block btn-lg mt-1">Submit Comment!</button>
		</div>
	</form>
</div>
<%- include ("../partials/footer") %>